/* Service Detail Section Styles */
.service-detail {
    padding: 2rem;
    text-align: center;
    margin-top: 8vh;
}

.service-detail-content {
    max-width: 800px;
    margin: 0 auto;
}

.service-detail h1 {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    color: #EB5939;
}

.service-detail-pic {
    width: 20vw;
    max-width: 600px;
    min-width: 250px;
    border-radius: 8px;
    margin-bottom: 1.5rem;
}

.service-detail p {
    font-size: 1rem;
    color: #fff;
    line-height: 1.6;
    margin-bottom: 1rem;
}


.BackToHome{
    display: block;
    width: 10vw;
    min-width: 200px;
    margin: 0 auto;
    padding: 0.5rem 1rem;
    background-color: #EB5939;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 100px;
    transition: background 0.3s;
    margin-bottom: 10vh;
}

.BackToHome:hover{
    background: #333;
    color: #EB5939;
}
.BackToHome a{
    color: #fff;
    text-decoration: none;
}